---
import { Icon } from "astro-icon/components";

import type { Skill } from "@/lib/skillIconMap";
import SkillBadge from "@/components/SkillBadge.astro";
import { Card } from "@/components/ui/card";
import { Image } from "astro:assets";

const {
  title,
  company,
  location,
  startDate,
  endDate,
  description,
  skills,
  logo,
} = Astro.props;
---

<Card
  className="card border border-black/10 transition-all duration-300 hover:shadow-[0px_4px_64px_0px_rgba(148,163,184,0.6)] dark:border-white/10"
>
  <div class="mb-4 flex items-center">
    <div class="flex items-center space-x-3">
      {
        logo ? (
          <Image
            src={logo}
            width={logo.width}
            height={logo.height}
            alt={`${company} logo`}
            class="h-12 w-12 rounded-full object-contain"
          />
        ) : (
          <div class="flex h-12 w-12 items-center justify-center rounded-full bg-gray-200">
            <Icon name="mdi:briefcase" class="h-6 w-6 text-gray-500" />
          </div>
        )
      }
    </div>
    <div class="w-full text-center">
      <div>
        <h3 class="text-xl font-bold text-gray-800">{title} | {company}</h3>
      </div>
      <p class="text-sm text-gray-500">{startDate} - {endDate} | {location}</p>
    </div>
  </div>
  <div class="mb-4">
    <ul class="list-inside list-disc space-y-1">
      {description.map((item: string) => <li class="text-gray-700">{item}</li>)}
    </ul>
  </div>
  <div class="flex flex-wrap gap-2">
    {
      skills.map(function displaySkill(skill: Skill) {
        return <SkillBadge skill={skill} />;
      })
    }
  </div>
</Card>
