---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const isSpanish = lang === "es";

const navItems = [
  { href: `/${lang}`, text: t("header.home") },
  {
    href: `/${lang}/tags/${lang === "es" ? "todos" : "all"}`,
    text: t("header.blog"),
  },
];
---

<header
  class="top-0 z-40 w-full border-b bg-white/95 backdrop-blur supports-[backdrop-filter]:bg-white/60"
>
  <div
    class="mx-auto flex h-16 max-w-6xl items-center justify-between px-6 md:px-4 lg:px-2"
  >
    <a href="/" class="flex items-center space-x-2">
      <span class="text-2xl font-bold">André Izarra</span>
    </a>

    <nav>
      <ul class="hidden space-x-2 text-sm font-medium md:flex md:items-center">
        {
          navItems.map((item) => (
            <li>
              <a
                href={item.href}
                class="rounded px-4 py-2 text-lg font-bold text-gray-700 transition-colors hover:bg-gray-100 hover:text-primary"
              >
                {item.text}
              </a>
            </li>
          ))
        }
        <li>
          <div class="relative inline-block text-left">
            <details class="group [&_svg]:transition-transform">
              <summary
                class="flex cursor-pointer items-center gap-2 rounded-md border border-gray-300 bg-white px-4 py-2 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500"
              >
                {isSpanish ? "Español" : "English"}
                <svg
                  class="h-5 w-5 text-gray-400 group-open:rotate-180"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"></path>
                </svg>
              </summary>

              <div
                class="absolute right-0 z-10 mt-2 w-32 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5"
              >
                <div class="py-1">
                  <a
                    href="/en"
                    aria-label="English"
                    class={`block px-4 py-2 text-sm ${
                      !isSpanish
                        ? "bg-blue-50 text-blue-700"
                        : "text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                    }`}
                  >
                    English
                  </a>
                  <a
                    href="/es"
                    aria-label="Español"
                    class={`block px-4 py-2 text-sm ${
                      isSpanish
                        ? "bg-blue-50 text-blue-700"
                        : "text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                    }`}
                  >
                    Español
                  </a>
                </div>
              </div>
            </details>
          </div>
        </li>
      </ul>
    </nav>

    <button
      id="menuButton"
      class="rounded-md p-2 hover:bg-gray-100 md:hidden"
      aria-label="Toggle menu"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="h-6 w-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
</header>

<div id="mobileMenu" class="fixed inset-0 z-50 hidden bg-white md:hidden">
  <div class="flex h-full flex-col p-4">
    <div class="flex justify-end">
      <button
        id="closeMenuButton"
        class="rounded-md p-2 hover:bg-gray-100"
        aria-label="Close menu"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <ul class="flex flex-col gap-2">
      {
        navItems.map((item) => (
          <li class="rounded px-4 py-2 hover:bg-gray-100">
            <a
              href={item.href}
              class="text-lg font-semibold text-gray-600 transition-colors hover:text-gray-700"
            >
              {item.text}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<script>
  const menuButton = document.getElementById("menuButton");
  const closeMenuButton = document.getElementById("closeMenuButton");
  const mobileMenu = document.getElementById("mobileMenu");

  menuButton?.addEventListener("click", () => {
    mobileMenu?.classList.remove("hidden");
  });

  closeMenuButton?.addEventListener("click", () => {
    mobileMenu?.classList.add("hidden");
  });
</script>
